<?xml version="1.0" encoding="utf-8"?>
<!-- {{ ansible_managed }} -->
<policy target="CONTINUE" priority="-1">
  <ingress-zone name="ANY"/>
  <egress-zone name="HOST"/>
  <service name="ssh"/>
</policy>
