{% if ssh_password_authentication %}
AuthenticationMethods publickey password
{% else %}
AuthenticationMethods publickey
{% endif %}
AuthorizedKeysFile .ssh/authorized_keys
GSSAPIAuthentication no
KbdInteractiveAuthentication no
PasswordAuthentication {{ ssh_password_authentication | ternary('yes', 'no') }}
PermitEmptyPasswords no
PermitRootLogin no
PubkeyAuthentication yes
TCPKeepAlive yes

UseDNS no
UsePAM yes
X11Forwarding yes

AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv XMODIFIERS

{% if ssh_keyboard_interactive_group is defined and ssh_keyboard_interactive_group != "" %}
Match Group {{ ssh_keyboard_interactive_group }}
{% if ssh_password_authentication %}
  AuthenticationMethods publickey,keyboard-interactive:pam password,keyboard-interactive:pam
{% else %}
  AuthenticationMethods publickey,keyboard-interactive:pam
{% endif %}

  KbdInteractiveAuthentication yes
  PasswordAuthentication {{ ssh_password_authentication | ternary('yes', 'no') }}
  PubkeyAuthentication yes
{% endif %}
